html,
body,
#root,
.App,
.App > div {
    height: 100%;
    width: 100%;
}

p {
    margin: 0;
}

button,
input {
    padding: 15px 0;
    border: none;
    border-radius: 4px;
}

input {
    padding: 10px;
    border: 1px solid lightgray;
}

.form-field {
    display: grid;
    grid-template-rows: min-content 1fr;
    row-gap: 5px;
}