.child {
    &__label {
        font-weight: bold;
    }

    &__switch {
        margin-top: 1em;
    }

    &__buttons {
        margin-top: 2em;

        display: grid;
        grid-template-rows: 1fr 1fr;
        row-gap: 1em;
    }
}
