.tree {
    margin: 5em 0em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tree-top {
        fill: green;
        position: relative;
    }

    .tree-trunk {
        height: 100px;
        width: 80px;
        background-color: #654321;
    }
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;

    position: absolute;
}
