.tree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(226, 204, 155);
    
    &__bg {
        height: 70%;
        width: 90%;
    }
}
